<textarea rows="4" nz-input [(ngModel)]="inputValue"></textarea>

<button (click)="onSubmit()" class=" bg-blue-500 p-2 rounded-full">Submit</button>



  <nz-table #basicTable [nzData]="viewData" *ngIf="viewData">
    <thead>
      <tr>
        <th>Pc No</th>
        <th>Candidate</th>
        <th>Party Logo</th>
        <th>Photo</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.pcno}}</td>
        <td>{{data.candidate}}</td>
        <td>
          <button (click)="download(data)" class="p-2 rounded-full bg-green-500 disabled:bg-cyan-500" [disabled]="data.disabled">Download</button>
        </td>
        <td>
          {{data.plogo}}
          <!-- <img [src]="data.plogo"> -->
        </td>
        <td>
          {{data.photo}}
          <!-- <img [src]="data.photo"> -->
        </td>
       
             
      </tr>
    </tbody>
</nz-table>