<!-- <main class="p-4 min-h-screen">
    <div class="flex flex-auto ">
        <p class="flex-auto">
            <a>Live</a>
            <button class="bg-gradient-to-r from-pink-500 to-orange-500 text-white px-4 rounded-md">Parliament General Election - 2024</button>
        </p>
        <h2 class="flex-none text-amber-800 font-bold text-xl">ASSEMBLY ELECTION RESULTS - 2024</h2>
    </div>

    <div>
        <div class="flex justify-center ">
            <h1 class="bg-orange-500 text-white font-serif px-4 py-1 rounded-xl">KEY CANDIDATE</h1>
        </div>
        <div class="py-4">
            <app-carausel></app-carausel>
        </div>
    </div>

    <div class="flex py-4">
        <div class="flex-1">
            <div class="flex flex-col">
                <app-charts></app-charts>
                <app-tableview></app-tableview>
            </div>
        </div>
        <div class="flex-1">
            <iframe src="https://liveresults.indiastatelections.com/ae/AELiveMap3_eng?theme=live&year=2019&stateid=28" class="w-full h-full"></iframe>
        </div>
    </div>

    <div>
        <app-candidates-table></app-candidates-table>
        
    </div>
    

</main> -->

<!-- <app-dataviewdata></app-dataviewdata> -->

<app-maos></app-maos>